.array-container {
  padding-top: 70px; /* height of navbar + margin */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

  
  .array-bar {
    width: 2px;
    background-color: #4CAF50;
    display: inline-block;
    margin: 0 1px;
  }